<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/manage/inc/manage-common-include :: main-include}" />

<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">
	  <div th:replace="~{/manage/inc/manage-common-include :: common-preloader-include}"></div>
	  <nav th:replace="~{/manage/inc/manage-header-include :: header}" />
	  <aside th:replace="~{/manage/inc/manage-sidebar-include :: sidebar-menu-v1}"></aside>
	  <div class="content-wrapper">
	    <div class="content-header">
	            <h1 class="m-0">약관 관리</h1>
	    </div>

	    <!-- Main content -->
		<form id="saveForm" name="saveForm" enctype="multipart/form-data">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<input type="hidden" name="params" id="params"/>
			<input type="hidden" name="mode" id="mode" th:value="${mode}"/>
			<input type="hidden" name="id" id="id" th:value="${policy.id}"/>

			<input type="hidden" class="form-control date-single-time-picker" id="createDate" name="createDate" placeholder="등록일 미 입력시 현재날짜로 등록됩니다."  th:value="${policy.createDate}">
			<input type="hidden" id="policyVersion" name="policyVersion" class="form-control col-md-12 col-xs-12" placeholder="정첵 제목을 입력" th:value="${policy.policyVersion}" />

			<div class="manage-content mb-10">
				<h3 class="title">약관 <th:block th:text="${mode eq 'I' ? '등록' : '수정'}"></th:block></h3>
				<div class="container-fluid p-0">
					<div class="row form-group align-items-center">
						<label class="col-1 req">유형</label>
						<div class="col-3">
							<select id="policyType" name="policyType" class="form-control" th:data-val ="${policy.policyType}">
								<option value="">선택</option>
<th:block th:each="item : ${policyCategory}" >
								<option th:value="${item.id}"  th:text="${item.title}" th:selected="${item.id == __${policy.policyType}__} ? 'selected'"></option>
</th:block>
                        	</select>
						</div>
						<label class="col-1">카테고리</label>
						<div class="col-3">
							<select id="policyCategory" name="policyCategory" class="form-control" th:data-val ="${policy.policyType}">
								<option value="">선택</option>
                        	</select>
						</div>
						<label class="col-1">서브카테고리</label>
						<div class="col-3">
							<select id="policySubCategory" name="policySubCategory" class="form-control" th:data-val ="${policy.policyType}">
								<option value="">선택</option>
                        	</select>
						</div>
					</div>
					<div class="row form-group align-items-center">
						<label class="col-1 req">제목</label>
						<div class="col-8">
							<input type="text" name="title" class="form-control col-md-12 col-xs-12" placeholder="정첵 제목을 입력" th:value="${policy.title}" />
						</div>
						<label class="col-1">사용여부</label>
						<div class="col-2">
							<input class="form-control" type="checkbox" id="useYn" name="useYn" data-toggle="toggle" data-onstyle="success" data-on="사용" data-off="미사용" data-width="100%" th:checked="${policy.useYn eq 'Y'} ? 'checked' : ${policy.useYn eq null ? 'checked' : ''}">
						</div>
					</div>

					<div class="row form-group align-items-center">
						<label class="col-1 req">제목</label>
						<div class="col-11">
							<textarea class="form-control ckeditor" rows="10" id="content" name="content" th:text="${policy.content}"></textarea>
						</div>
					</div>
				</div>
			</div>
		</form>
	    <!-- /.content -->
		<div class="col-md-12 clearfix">
			<div class="text-center">
				<button type="button" class="btn btn-black"   onclick="preList()">취소하기</button>
				<button type="button" class="btn btn-primary" onclick="save()">저장하기</button>
				<button type="button" class="btn btn-danger"  onclick="goDelete()" th:if="${mode eq 'U'}">삭제하기</button>
			</div>
		</div>
	</div>
	  <!-- /.content-wrapper -->
	  <footer th:replace="~{/manage/inc/manage-footer-include :: footer}"/>

	  <!-- Control Sidebar -->
	  <aside class="control-sidebar control-sidebar-dark">
	    <!-- Control sidebar content goes here -->
	  </aside>
	  <!-- /.control-sidebar -->
	</div>
	<!-- ./wrapper -->

	<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
	<script>
	  $.widget.bridge('uibutton', $.ui.button)
	</script>
	<!-- AdminLTE App -->
	<script src="/js/manage/adminlte.js"></script>
	<!-- AdminLTE for demo purposes
	<script src="/js/manage/demo.js"></script>
	AdminLTE dashboard demo (This is only for demo purposes)
	<script src="/js/manage/pages/dashboard.js"></script>
	-->

	<script type="text/javascript" th:inline="javascript">
	var attchFileSize;
	let editor;

	$(document).ready(function() {
//		$('#boardId').trigger('change');

//		fnMakeCkeditor($('#content')[0],  false);

		fnMakeCkeditor($('#content')[0],  false).then(
			makedEditor => {
				editor = makedEditor;
			});

	});

	function save() {
		var form = document.saveForm;
		var nowac = "";
		if($.trim(form.title.value) == "") {
			alert("제목을 입력해 주세요.");
			form.title.focus();
		}else if($.trim(form.policyType.value) == "") {
			alert("게시판을 선택 해 주세요.");
			form.policyType.focus();
		} else {
			var url = "/manage/policy-save";

			if($("#mode").val() == 'R'){
				nowac = "저장";
			}else if($("#mode").val() == 'I'){
				nowac = "등록";
			}
			if(confirm(nowac+"하시겠습니까?")) {
				$("#content").text(editor.getData());

				var formData = new FormData($('#saveForm')[0]);

				$('input[data-toggle="toggle"]').each(function(i,e){
				    formData.set( $(e).attr('name'), $(e).is(':checked') ? 'Y' : 'N');
				});
/*
				if( typeof(filesArr) !== 'undefined' ){
					for (var i = 0; i < filesArr.length; i++) {
				        // 삭제되지 않은 파일만 폼데이터에 담기
				        if (!filesArr[i].is_delete) {
				        	formData.append("attachs", filesArr[i]);

				        } else {
				        	formData.append("deletes", filesArr[i].file_id);
				        }

				        if(filesArr[i].is_thumnail){
				        	if(filesArr[i].upload_filename !== undefined){
				        		formData.append("thumnail", filesArr[i].upload_filename);
				        	} else {
				        		formData.append("thumnail", filesArr[i]);
				        	}
				        }
				    }
				}
*/
				$.ajax({
		            url: url,
		            type : 'POST',
					contentType : false,
					processData : false,
		            data : formData,
		            dataType: 'JSON',
		            success : function(data) {
		                if (typeof data.result != "undefined" && data.result == "error") {
		                    alert(data.message);
		                    return;
		                } else {
		                    alert(data.message);
		                    preList();
		                }
		            },
		            error : function(xhr, code, errorMsg) { },
		            beforeSend : function() { },
		            complete : function() { }
		        });
			}
		}
	}

	function preList(){
		location.href = "/manage/policy/list?params="+getParams();
	}

	function boardSeleted(obj){
		let opt = $('#boardId option:selected');

		if(opt !== 'undefined'){
			$(opt).each(function() {
				$.each(this.attributes, function() {
					if(this.specified) {
			 			console.log(this.name, this.value);
			 			if(this.value == 'Y'){
							 $(`#${this.name}`).show();
						 } else {
							 $(`#${this.name}`).hide();
						}
			 		}
				});
			});
		}
	}

	removeFiles = function() {
// 		$("#attach").val('');
// 		$("#attach-file-list").children().remove();

		for(var i=0; i<fileNo; i++){
			deleteFile(i);
		}
	}
	</script>
	<style>
	    #attach-file-list .filebox img {
		    width: 70%;
		    height: auto;
		}

        .ck-editor__editable { height: 400px; }
	</style>
	</body>
</html>
