<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <div th:fragment="modal-reservation">
		<div class="modal fade func-schedule-modal" tabindex="0" role="dialog" aria-hidden="true" data-backdrop="static">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h4 id="func-menu-modal-title" class="schedule-title">예약일정 등록</h4>
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">

						<div class="row mb-10">
							<div class="col-md-12">
								<div class="float-left">
						            <button class="tab-btn req active" data-id="defualt"	th:onclick="fnSelectTab(this)">기본정보</button>
						            <button class="tab-btn req"		   data-id="travel"		th:onclick="fnSelectTab(this)">여행정보</button>
						            <button class="tab-btn"		       data-id="payment"	th:onclick="fnSelectTab(this)">결제정보</button>
						        </div>
							</div>
				        </div>

						<form id="funcScheduleForm" name="funcScheduleForm" class="form-horizontal form-label-left">
							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
							<input type="hidden" id="mode" 									  name="mode" value="I">
							<input type="hidden" id="reservationYn" 						  name="reservationYn" value="Y">
							<input type="hidden" id="reservationCode" 						  name="reservationCode" value="0">
							<input type="hidden" id="id" 									  name="id">
							<input type="hidden" id="createId" 								  name="createId">
							<input type="hidden" class="jsonData" id="tempGroupJson"          name="tempGroupJson"          >
							<input type="hidden" class="jsonData" id="tempTravelScheduleJson" name="tempTravelScheduleJson" >
							<input type="hidden" class="jsonData" id="tempAirScheduleJson"    name="tempAirScheduleJson"    >

							<div class="mb-20 tab-form" data-id="defualt">
								<h3 class="title mb-10">고객정보</h3>

								<div class="row mb-20 aic">
									<div class="col-3">
										<div class="btn-group float-right">
											<button type="button" class="btn btn-black" id="searchCustomerBtn"><i class="fa fa-search"></i> 고객찾기</button>
											<button type="button" class="btn btn-default" onclick="fnCustomerReset()"><i class="fa fa-close"></i> 초기화</button>
										</div>
									</div>
									<div class="row col-9">
										<div class="col-4">
											<label class="col-12 req" for="userEmail">이메일</label>
											<input type="text" class="form-control col-12 req" name="userEmail" id="userEmail" data-name="이메일">
										</div>
										<div class="col-4">
											<label class="col-12 req" for="userName">고객명</label>
											<input type="text" class="form-control col-12" name="userName" id="userName"  data-name="고객명">
										</div>
										<div class="col-4">
											<label class="col-12 req" for="userMobile">고객연락처</label>
											<input type="text" class="form-control col-12" name="userMobile" id="userMobile" data-name="연락처">
										</div>
									</div>
								</div>

								<div class="form-group row  mb-20">
									<label class="control-label col-2 req">문의종류 </label>
									<div class="col-10 row form-group" id="divInquriyType">
									</div>
								</div>

								<h3 class="title mb-10">상품정보</h3>
								<div class="form-group mb-20">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">상품정보 </label>
									<div class="col-md-12 col-sm-12 col-xs-12 form-inline">
										<button type="button" class="btn btn-black" id="searchProductBtn"><i class="fa fa-search"></i> 검색</button>
										<div id="productInfo" class="col-md-11">
											상품정보를 선택하여주십시오.
										</div>
									</div>
								</div>
<!--/*
								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12 req">제목 </label>
									<div class="col-md-12 col-sm-12 col-xs-12">
										<input type="text" id="title" name="title" class="form-control col-md-12 col-xs-12 req" placeholder="제목을 입력">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12 req">문의 내용 </label>
									<div class="col-md-12 col-sm-12 col-xs-12">
										<textarea id="content" name="content" ></textarea>
									</div>
								</div>
*/-->
							</div>

							<div class="col-12 p-0 jsonForm tab-form" id="travelScheduleJson" name="travelScheduleJson" data-id="travel" style="display: none;">
								<h3 class="title mb-10">여정정보</h3>
								<div class="row form-group form-inline">
									<label class="control-label col-2 req">여행일정</label>
									<div class="col-3 form-inline">
										<input type="text" id="travelSchedule" name="travelSchedule" class="form-control col-10 date-range-picker-from req tac" data-name="여행일정">
									</div>
								</div>
								<div class="row form-group form-inline">
									<label class="control-label col-2 req">여행인원</label>
									<div class="col-6 form-inline">
										<div class="col-4 form-group">
											<label class="control-label col-5">성인</label>
											<select class="form-control col-7" id="memberA" name="memberA">
												<option value="0" >미선택</option>
												<th:block th:each="num : ${#numbers.sequence(1,30,1)}">
													<option th:value="${num}" th:text="|${num}명|"></option>
												</th:block>
											</select>
										</div>
										<div class="col-4 form-group">
											<label class="control-label col-5">어린이</label>
											<select class="form-control col-7" id="memberC" name="memberC">
												<option value="0">없음</option>
												<th:block th:each="num : ${#numbers.sequence(1,10,1)}">
													<option th:value="${num}" th:text="|${num}명|"></option>
												</th:block>
											</select>
										</div>
										<div class="col-4 form-group">
											<label class="control-label col-5">유아</label>
											<select class="form-control col-7" id="memberI" name="memberI">
												<option value="0">없음</option>
												<th:block th:each="num : ${#numbers.sequence(1,10,1)}">
													<option th:value="${num}" th:text="|${num}명|"></option>
												</th:block>
											</select>
										</div>
									</div>
								</div>

								<div class="row form-group ">
									<label class="control-label col-2 req">항공편</label>
									<div class="row col-10">
										<div class="row col-12">
											<select class="form-control col-3" name="airTypeRequest" id="airTypeRequest" onclick="fnCheckAirType(this)" data-name="항공요청">
												<option value="0" >왕복</option>
												<option value="1" >출발</option>
												<option value="2" >복귀</option>
												<option value="3" >미사용</option>
											</select>
										</div>
										<div class="row col-12 jsonForm" name="airScheduleJson" id="airScheduleJson">
											<div class="row col-12" id="depart">
												<label class="form-inline back-label col-1">출발편</label>
												<div class="row col-11">
													<div class="col-3">
														<label class="control-label col-12">출도작</label>
														<input type="text" id="departFromArea" name="departFromArea" class="form-control col-12" placeholder="출도착 공항을 기입하여 주십시오" >
													</div>
													<div class="col-3">
														<label class="control-label col-12">출발일시</label>
														<input type="text" id="departFromDttm" name="departFromDttm" class="form-control col-12  date-single-time-picker-custom tac">
													</div>
													<div class="col-3">
														<label class="control-label col-12">항공사명</label>
														<input type="text" id="departFromAirline" name="departFromAirline" class="form-control col-12" placeholder="항공사명 기입하여 주십시오"  >
													</div>
													<div class="col-3">
														<label class="control-label col-12">항공편명</label>
														<input type="text" id="departFromFlightName" name="departFromFlightName" class="form-control col-12" placeholder="항공편명 기입하여 주십시오">
													</div>
												</div>
											</div>
											<div class="row col-12" id="arrive">
												<label class="form-inline back-label col-1">복귀편</label>
												<div class="row col-11">
													<div class="col-3">
														<label class="control-label col-12">출도작</label>
														<input type="text" id="departToArea" name="departToArea" class="form-control col-12" placeholder="출도착 공항을 기입하여 주십시오">
													</div>
													<div class="col-3">
														<label class="control-label col-12">출발일시</label>
														<input type="text" id="departToDttm" name="departToDttm" class="form-control col-12 date-single-time-picker-custom tac">
													</div>
													<div class="col-3">
														<label class="control-label col-12">항공사명</label>
														<input type="text" id="departToAirline" name="departToAirline" class="form-control col-12"  placeholder="항공사명 기입하여 주십시오">
													</div>
													<div class="col-3">
														<label class="control-label col-12">항공편명</label>
														<input type="text" id="departToFlightName" name="departToFlightName"  class="form-control col-12" placeholder="항공편명 기입하여 주십시오">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="row form-group">
<!--/*
									<h3 class="title mb-10">숙소정보</h3>
*/-->
									<div class="row col-12">
										<label class="control-label col-2">숙소</label>
										<input type="text" id="berthType" name="berthType" class="form-control col-10" placeholder="숙소명칭을 기입하여주십시오.">
									</div>
								</div>
								<div class="row form-group">
<!--/*
									<h3 class="title mb-10">숙소정보</h3>
*/-->
									<div class="row col-12">
										<label class="control-label col-2">차량</label>
										<div class="row col-10">
											<div class="row col-12">
												<button type="button" class="btn btn-black" onclick="fnAddVehicleLine()"><i class="">교통편추가</i></button>
											</div>
											<div class="row col-12 jsonForm" id="vehicleJson" name="vehicleJson">
												<div class="col-12 row form-group btn-group">
													<input type="text" name="Vehicle" class="form-control wd-p95" placeholder="요청사항을 기입하십시오.">
													<button class="btn btn-black wd-p05" onclick='fnDelVehicleLine(this)'><i class="">X</i></button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="row form-group tab-form"  data-id="payment" style="display: none;">
								<h3 class="title">결제정보</h3>
								<div class="container-fluid p-0">
									<div class="row form-group">
										<label class="control-label form-inline col-2">금액</label>
										<div class="row form-group col-10 p-0">
											<div class="row form-group col-12">
												<div class="col-4">
													<label class="control-label col-12">총금액</label>
													<input type="text" id="totalAmount" name="totalAmount" class="form-control col-12 tar" value="0" >
												</div>
												<div class="col-4">
													<label class="control-label col-12">결제금액</label>
													<input type="text" id="depsitAmount" name="depsitAmount" class="form-control col-12 tar"value="0" readonly>
												</div>
												<div class="col-4">
													<label class="control-label col-12">잔금</label>
													<input type="text" id="balanceAmount" name="balanceAmount" class="form-control col-12 tar" value="0" readonly>
												</div>
											</div>
<!--/*
											<div class="row form-group col-12">
												<label class="control-label col-12">결제내역</label>
												<table id="datatablePayment" class="table way-table table-bordered table-hover" style="width:100%; table-layout:fixed;"></table>
											</div>
											<div class="row form-group col-12" >
												<form id="savePaymentForm" name="savePaymentForm" enctype="multipart/form-data" class="col-12">
													<input type="hidden" name="reservationId" th:value="${reservation.id}">
													<input type="hidden" name="userEmail" th:value="${reservation.userEmail}">

													<label class="control-label col-12">내역등록</label>
													<div class="row form-group col-12 dataForm">
														<div class="col-3">
															<label class="control-label col-12 req">구분</label>
															<select id="payDivision" name="payDivision" class="form-control col-12  req" data-name="결제 구분" onclick="changeDivision()">
																<option>미선택</option>
																<option value="G">발생비용</option>
																<option value="D">입금비용</option>
															</select>
														</div>
														<div class="col-4">
															<label class="control-label col-12 req">일시</label>
															<input type="text" id="payDate" name="payDate" class="form-control col-12 req date-single-time-picker tac"  data-name="결제 일시">
														</div>

													</div>
													<div class="row form-group">
														<div class="row col-12">
															<div class="col-3">
																<label class="control-label col-12 req">방법</label>
																<input type="text" id="payMethod" name="payMethod" class="form-control col-12 req"  data-name="결제 방법">
															</div>
															<div class="col-5">
																<label class="control-label col-12 req">내용</label>
																<input type="text" id="payComment" name="payComment" class="form-control col-12 req" data-name="결제 내용" >
															</div>
															<div class="col-2">
																<label class="control-label col-12 req">금액</label>
																<input type="number" id="payAmount" name="payAmount" class="form-control col-12 req tar"  data-name="결제 금액" min="-999999999"  max="999999999" value="0" >
															</div>
															<div class="col-2">
																<div class="float-right">
																	<button type="button" class="btn btn-black" onclick="savePayment()"><i class="">이력 추가</i></button>
																</div>
															</div>
														</div>
													</div>
												</form>
											</div>
*/-->
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" onclick="fnScheduleSave()">확인</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="~{/manage/inc/manage-popup-product :: modal-product}"/>
		<div th:replace="~{/manage/inc/manage-popup-customer :: modal-customer}"/>

		<script type="text/javascript" th:inline="javascript" >
			let _fnCallback;
			let editorContent;
			fnPopupScheduleInit = function(){
				$(`.tab-btn[data-id='defualt']`).trigger('click');

				$(`input[type='text'], #createId`,'#funcScheduleForm').val('');

				$('#divConsultingMethod').html(loadMakeUpHtmlInput('radio', 'consultingMethod', '', 'consultingMethod', 'mr-05', true));

				var _dateOption = _daterangepickerOptionRangeOnlyDate;
				_dateOption.minDate = moment().add(1, 'day');
				_dateOption.maxDate = moment().add(3, 'month');
				_dateOption.autoUpdateInput = false;
				_dateOption.locale.cancelLabel='지우기';

				$('.date-range-picker-from')
					.daterangepicker(_dateOption, function(start, end, label) {})
					.on('apply.daterangepicker', function(ev, picker) {
						var format = _dateOption.locale.format;
						$(this).val(picker.startDate.format(format) + separator + picker.endDate.format(format));
					}).on('cancel.daterangepicker', function(ev, picker) {
						$(this).val('');
					});

				var _datetimeOption = _daterangepickerOptionSingleDateTime;
				_datetimeOption.minDate = moment().add(1, 'day');
				_datetimeOption.maxDate = moment().add(3, 'month');

				$('.date-single-time-picker-custom')
					.daterangepicker(_datetimeOption, function(start, end, label) {})

				fnLoadInquiryItemList();
/*
				if(editorContent === undefined)
					fnMakeCkeditor($('#content')[0],  false).then(
						makedEditor => {
							editorContent = makedEditor;
						});
*/
			}
			fnPopupScheduleAdd = function( fnCallback = undefined ){
				if(fnCallback !== undefined) _fnCallback = fnCallback;

				fnPopupScheduleInit();
				$('.func-schedule-modal').modal("show");
			};
			fnPopupScheduleUpd = function(){
				fnPopupScheduleInit();
				$('.func-schedule-modal').modal("show");
			};
			fnSelectTab = function(my){
				var dataId = $(my).attr('data-id');
				$('.tab-btn').removeClass('active');
				$('.tab-form').hide();

				$(`.tab-btn[data-id='${dataId}']`).addClass('active');
				$(`.tab-form[data-id='${dataId}']`).show();
			};

			fnLoadInquiryItemList = function(){
				$.ajax({
		            url: '/manage/inquiry/category-list',
		            type : 'GET',
		            data : { 'length':100, 'reservationSwitchYn':'Y', 'sort':'orderNum', 'sortOrder':'ASC' },
		            success : function(res) {
						var html = "";
						for(var i in res.data){
							var item = res.data[i];

							html +=
								`<div class="form-check mr-05">`+
								`<label class="form-check-label" for="categoryId${item.id}">`+
								`<input type="radio" name="categoryId" id="categoryId${item.id}"`+
								` class="form-check-input" value="${item.id}"`+
								` groupYn="${item.groupYn}" reservationSwitchYn="${item.reservationSwitchYn}"`+
								` onclick="checkCategory(this)" ${i==0?'checked':''} `+
								`>${item.title}</label>`+
								`</div>`;
						}

						$('#divInquriyType').html(html);
		            },
		            error : function(xhr, code, errorMsg) { },
		            beforeSend : function() { },
		            complete : function() { }
		        });
			}

		    checkCategory = function(e){
		      if( $(e).attr('groupyn') === 'Y' ){
		        $(".groupItem").show();
		      } else {
		        $(".groupItem").hide();
		      }

		    }

		    fnCheckAirType = function(e){
		      var airType = $(e).val();

		      $("#airScheduleJson").show();

		      if( airType == 0 ){
		        $("#depart").show();
		        $("#arrive").show();
		      } else if( airType == 1 ){
		        $("#depart").show();
		        $("#arrive").hide();
		      } else if( airType == 2 ){
		        $("#depart").hide();
		        $("#arrive").show();
		      } else if( airType == 3 ){
		        $("#depart").hide();
		        $("#arrive").hide();
		        $("#airScheduleJson").hide();
		      }
		    }

		    fnAddVehicleLine = function( data = undefined ){
				var html ="";

				html += `<div class="col-12 row form-group btn-group">`+
						`<input type="text" name="Vehicle" class="form-control wd-p95" placeholder="요청사항을 기입하십시오." value='${data === undefined ? '': data}'>`+
						`<button class="btn btn-black wd-p05" onclick='fnDelVehicleLine(this)'><i class="">X</i></button>`+
						`</div>`;

				$('#vehicleJson').append(html);
			}

			fnDelVehicleLine = function(e){
				$(e).parent().remove();
			}

			fnScheduleSave = function() {
				if( checkForm('funcScheduleForm') ){
					var form = document.funcScheduleForm;

					var airType = $.trim(form.airTypeRequest.value);

					var departFrom =
						($.trim(form.departFromArea.value) == "" ||
						 $.trim(form.departFromDttm.value) == "" ||
						 $.trim(form.departFromAirline.value) == "" ||
						 $.trim(form.departFromFlightName.value) == "");
					var departTo =
						($.trim(form.departToArea.value) == "" ||
						 $.trim(form.departToDttm.value) == "" ||
						 $.trim(form.departToAirline.value) == "" ||
						 $.trim(form.departToFlightName.value) == "");

					if($.trim(form.travelSchedule.value) == "") {
						alert("여행일정을 입력해 주세요.");
						form.travelSchedule.focus();
					} else if( $.trim(form.memberA.value) == "0" &&
							   $.trim(form.memberC.value) == "0" &&
							   $.trim(form.memberI.value) == "0" ) {
						alert("여행인원을 확인하여주세요.");
					} else if( (airType === 0 && departFrom && departTo ) ){
						alert("항공편 출발/복귀편 입력하여주십시오.");
					} else if( (airType === 1 && departFrom ) ){
						alert("항공편 출발편 입력하여주십시오.");
					} else if( (airType === 2 && departTo ) ){
						alert("항공편 복귀편 입력하여주십시오.");
					} else {
						if(confirm("저장 하시겠습니까?")){
							$('input, select','.jsonForm').attr('disabled',true);
							var _data = $('#funcScheduleForm').serialize();
							$('input, select','.jsonForm').attr('disabled',false);

							_data += `&travelScheduleJson=` + fnGenJsonToStr('travelScheduleJson');
							_data += `&airScheduleJson=`    + fnGenJsonToStr('airScheduleJson');
							_data += `&vehicleJson=`        + fnGenJsonToStr('vehicleJson');

							if(mode === 'I')
								_data += '&totalAmount='        + $('#totalAmount').val();

							$.ajax({
					            url: "/manage/reservation/save",
					            type : 'POST',
					            data : _data,
					            success : function(data) {
					                if (typeof data.result != "undefined" && data.result == "error") {
					                    alert(data.message);
					                    return;
					                } else {
					                    alert(data.message);

					                    setTimeout(function(){
											if(_fnCallback != undefined) _fnCallback();
										}, 200);

					                    $('.func-schedule-modal').modal("hide");
					                }
					            },
					            error : function(xhr, code, errorMsg) { },
					            beforeSend : function(xhr) { xhr.setRequestHeader([[${_csrf.headerName}]], [[${_csrf.token}]]); },
					            complete : function() { }
					        });
						}
					}
				}
			}
/*
			fnScheduleSave = function() {
				var form = document.funcScheduleForm;
				var nowac = "";
				if($.trim(form.title.value) == "") {
					form.title.focus();
					alert("[기본정보], 문의제목을 입력해 주세요.");
					$(`.tab-btn[data-id='defualt']`).trigger('click');
				} else if(!$(`input[name='categoryId']`).is(':checked')) {
					$(`input[name='categoryId']:eq(0)`).focus();
					alert("[기본정보], 문의종류을 선택 해 주세요.");
					$(`.tab-btn[data-id='defualt']`).trigger('click');
				} else if(editorContent.getData().length == 0) {
					alert("[기본정보], 문의내용을 입력 해 주세요.");
					editorContent.focus();
					$(`.tab-btn[data-id='defualt']`).trigger('click');
				} else if($.trim(form.customerName.value) == 0) {
					alert("[기본정보], 고객성함을 입력 해 주세요.");
					form.customerName.focus();
					$(`.tab-btn[data-id='travel']`).trigger('click');
				} else if($.trim(form.customerPhone.value) == 0 ) {
					alert("[기본정보], 연락처을 입력 해 주세요.");
					form.customerPhone.focus();
					$(`.tab-btn[data-id='travel']`).trigger('click');
				} else if($.trim(form.customerEmail.value) == 0 ) {
					alert("[기본정보], 이메일을 입력 해 주세요.");
					form.customerEmail.focus();
					$(`.tab-btn[data-id='travel']`).trigger('click');
				} else if($.trim(form.travelFromDt.value) == 0) {
					alert("[여행정보],출발일을 입력 해 주세요.");
					form.travelFromDt.focus();
					$(`.tab-btn[data-id='travel']`).trigger('click');
				} else  {
					var url = "/manage/inquiry/contents-save";

					if($("#mode").val() == 'U'){
						nowac = "저장";
					}else if($("#mode").val() == 'I'){
						nowac = "등록";
					}
					if(confirm(nowac+"하시겠습니까?")) {
						$("#content").text(editorContent.getData());
						$('.jsonForm input').attr('disabled',true);

						var _data = $('#funcScheduleForm').serialize();

						$('.jsonForm input').attr('disabled',false);

						_data += `&groupJson=`          + fnGenJsonToStr('groupJson');
						_data += `&travelScheduleJson=` + fnGenJsonToStr('json_travel_schedule');
						_data += `&airScheduleJson=`    + fnGenJsonToStr('json_air_schedule');

						$.ajax({
				            url: url,
				            type : 'POST',
				            data : _data,
				            //dataType: 'JSON',
				            success : function(data) {
				                if (typeof data.result != "undefined" && data.result == "error") {
				                    alert(data.message);
				                    return;
				                } else {
				                    alert(data.message);
									$('.func-schedule-modal').modal("hide");
				                }
				            },
				            error : function(xhr, code, errorMsg) { },
				            beforeSend : function(xhr) { xhr.setRequestHeader([[${_csrf.headerName}]], [[${_csrf.token}]]); },
				            complete : function() { }
				        });
					}
				}
			}
*/
			fnGenJsonToStr = function(targetId){
				var _json = {'id':targetId};
				var _data ={}

				$(`#${targetId} input`).each(function(i,e){
				    //console.log(i, $(e).attr('name'), $(e).val() );
				    _data[$(e).attr('name')] = $(e).val();
				});

				_json["data"] = _data;
				//console.log(_json);
				return JSON.stringify(_json);
			}

			fnReceiveSelectCustomer = function( data ){
				$('#userEmail').val( data.userEmail );
				$('#userName').val( data.userName );
				$('#userMobile').val( data.userMobile );
			}

			fnReceiveSelectProduct = function(data){
				var html ='';
				html +=`<div class='form-inline'>`;
				html +=`<input type="hidden" id="productSerial" name="productSerial" value="${data.productSerial}">`;
				html +=`<input type="hidden" id="productTourId" name="productTourId" value="${data.productTourId}">`;
				html +=`<div class="col-5 thumnail"><img src="${data.productThumbnail}" style="width: 400px;height:100%;" alt="${data.productTitle}"></div>`;
				html +=`<div class="col-5">${data.productTitle}</div>`;
				html +=`<div class="col-2"><button type="button" class="btn btn-danger" id="deleteProductBtn" onclick="fnPopupProductRemove()"><i class="fa fa-search"></i>취소</button></div>`;
				html +=`</div>`;
				$('#productInfo').html(html);
				$('.func-product-modal').modal("hide");
			}

			fnCustomerReset = function(){
				$("#userEmail").val('');
				$("#userName").val('');
				$("#userMobile").val('');
			}

			$('#searchCustomerBtn').click(function(){
				fnPopupCustomerOpen(fnReceiveSelectCustomer);
				//fnPopupCustomerOpen(fnSelectCustomerTest);
			});

			$('#searchProductBtn').click(function(){
				fnPopupProductOpen(fnReceiveSelectProduct);
				//fnPopupCustomerOpen(fnSelectCustomerTest);
			});
		</script>

		<style>
			.control-label {justify-content: unset !important;}
			.ck-editor__editable { height: 200px; }
			.back-label{background-color: #efefef;border-radius: 5px;justify-content: center;margin-top:1rem;}
		</style>

	</div>
</body>
</html>