<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
	<div th:fragment="tab-inquiry(cid,userEmail)" class="tab-content" data-id="inquiry" th:data-category-id="${cid}" th:data-user-email="${userEmail}">
		<div class="row">
			<div class="col-md-12">
				<div class="container-fluid p-0">
					<table th:id="|datatable${cid}|" class="table way-table table-bordered table-hover" style="width:100%; table-layout:fixed;"></table>
				</div>
			</div>
		</div>

		<script type="text/javascript" th:inline="javascript">
			var datatable[(${cid})];
			var cid = [(${cid})];

			$(document).ready(function() {
				initDatatable[(${cid})]();
			});

			initDatatable[(${cid})] = function(){
				var baseColumns = [
					{ "name" : "id", "title" : "고유번호", "data" : "id", "className" : "dt-head-center dt-body-left", "width":"5%"},
					{ "name" : "categoryName", "title" : "카테고리", "data" : "categoryName", "className" : "dt-head-center dt-body-left", "width":"10%"},
					{ "name" : "applyCodeName", "title" : "접수상태",
					  "data" : function (row, type, set) {
								//console.log(`${row["applyCode"]}`);
								var strclass = "box-label";
								switch(row["applyCode"]){
									case "0": strclass+=" receipt"; break;
									case "1": strclass+=" progressing"; break;
									case "2": strclass+=" complete"; break;
									default : strclass+=" "; break;
								}
								var html = `<span class="${strclass}">${row["applyCodeName"]}</span>`;
								//html +=  `<input class="form-control" type="checkbox" id="useYn" name="useYn" data-toggle="toggle" data-onstyle="primary" data-on="사용" data-off="미사용" data-width="100%" ${row["useYn"] === 'Y' ? 'checked' :''} data-id='${row["id"]}'>`;
								return html;
							},
					  "className" : "dt-head-center dt-body-center", "width":"5%"},
					{ "name" : "customerName", "title" : "문의자","data" : "customerName","className" : "dt-head-center dt-body-left"},
					{ "name" : "title", "title" : "제목","data" : "title","className" : "dt-head-center dt-body-left"},
					{ "name" : "secretYn", "title" : "비밀글", "data" : "secretYn", "className" : "dt-head-center dt-body-center", "width":"5%"},
					{ "name" : "deleteYn", "title" : "삭제여부", "data" : "deleteYn", "className" : "dt-head-center dt-body-center", "width":"5%"},
					{ "name" : "lastUpdateDate", "title" : "최종수정일시", "data" : "lastUpdateDate", "className" : "dt-head-center dt-body-center", "width":"10%"},

					{ "name" : "func_btns", "title":"기능",
						"data" :
							function (row, type, set) {
								var html = "";
								html += `<div class="form-inline justify-content-center">`;
								html += `<button type='button' class='btn btn-default' data-toggle='tooltip' title='세부' onclick='fnGoInquiryMove${cid}(${cid})'>세부보기</button>&nbsp;`;
								html += `</div>`;
								return html;
							},
						"className": "dt-head-center dt-body-center", "orderable" : false, "width":"160px"},
				];

				datatable = $("#datatable[(${cid})]").DataTable({
					"searching" : false
					,"sDom": '<"top"i>rt<"bottom"lp><"clear">'//f
					,"paging": true
					,"bPaginate": true
					,"responsive": true
					,"language": lang_kor
					,"ordering": false
					,"bLengthChange" : false
					,"bInfo":false
					,"ajax" : {
						"url" : "/manage/inquiry/contents-list"
						,"method" : "post"
						, "beforeSend": function (xhr) {
							xhr.setRequestHeader([[${_csrf.headerName}]], [[${_csrf.token}]]);
						}
						,"data" : function(d) {
							d.categoryId = [[${cid}]];
							d.userEmail = [[${userEmail}]];
						}
					},"processing": true
					,"serverSide": true
					,"order" :
						[ [0, 'desc'] ]
					,"createdRow": function(row, data) {
						  if ( data.deleteYn === "Y" ) {
							  $(row).css('background-color', '#DC3545');
						  } else if ( data.secretYn === "Y" ) {
							  $(row).css('background-color', '#e9e9e9');
						  }
					  }
					,"initComplete": function(settings, json) {}
					,"columns": baseColumns
				});
			};

			fnGoInquiryMove[(${cid})] = function(categoryId = undefined, userEmail){
				var params = '?params=';

				if(categoryId !== undefined){
					params += `ipˇbtˇdata-idˇ${categoryId}`;
					params += `ipˇbtˇdata-user-emailˇ${userEmail}`;
				}

				var url = `/manage/inquiry/inquiry`+params;
				//location.href = url;
				window.open(url, '_blank');
			}
		</script>
		<style>
		</style>

	</div>
</body>
</html>