<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:fragment="include">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta property="og:image" content="http://travel.wayplus.kr/images/og_kako_logo.png">
<meta property="og:url" content="http://travel.wayplus.kr">
<meta property="og:site_name" content="웨이플러스">
<link rel="stylesheet" type="text/css" href="/css/inc/common.css" th:href="@{/css/inc/common.css}" />
<link rel="stylesheet" type="text/css" href="/css/inc/error.css" th:href="@{/css/inc/error.css}" />
<link rel="stylesheet" type="text/css" href="/plugin/jquery-ui-1.13.1/jquery-ui.min.css" th:href="@{/plugin/jquery-ui-1.13.1/jquery-ui.min.css}" />
<link rel="stylesheet" type="text/css" href="/plugin/swiper-8.4.2/package/swiper-client.min.css" th:href="@{/plugin/swiper-8.4.2/package/swiper-client.min.css}" />
<link rel="stylesheet" type="text/css" href="/plugin/jquery.datetimepicker/jquery.datetimepicker.min.css" th:href="@{/plugin/jquery.datetimepicker/jquery.datetimepicker.min.css}" />
<link rel="stylesheet" type="text/css" href="/plugin/daterangepicker/css/daterangepicker-client.css" th:href="@{/plugin/daterangepicker/css/daterangepicker-client.css}" />
<link rel="stylesheet" type="text/css" href="/plugin/ckeditor5-35.1.0/css/ckeditor.min.css" th:href="@{/plugin/ckeditor5-35.1.0/css/ckeditor.min.css}" />
<script type="text/javascript" src="/js/jquery-3.6.0.min.js" th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script type="text/javascript" src="/js/crypto-js.min.js" th:src="@{/js/crypto-js.min.js}"></script>
<script type="text/javascript" src="/plugin/moment/moment.min.js" th:src="@{/plugin/moment/moment.min.js}"></script>
<script type="text/javascript" src="/js/common.js" th:src="@{/js/common.js}"></script>
<script type="text/javascript" src="/plugin/jquery-ui-1.13.1/jquery-ui.min.js" th:src="@{/plugin/jquery-ui-1.13.1/jquery-ui.min.js}"></script>
<script type="text/javascript" src="/plugin/jquery.datetimepicker/jquery.datetimepicker.min.js" th:src="@{/plugin/jquery.datetimepicker/jquery.datetimepicker.min.js}"></script>
<script type="text/javascript" src="/plugin/daterangepicker/daterangepicker.js" th:src="@{/plugin/daterangepicker/daterangepicker.js}"></script>
<script type="text/javascript" src="/plugin/swiper-8.4.2/package/swiper-bundle.min.js" th:src="@{/plugin/swiper-8.4.2/package/swiper-bundle.min.js}"></script>
<script type="text/javascript" src="https://partner.talk.naver.com/banners/script"></script>
<script type="text/javascript" src="/plugin/ckeditor5-35.1.0/build/ckeditor.js"></script>
<script type="text/javascript" src="/js/util/file/attachFile.js"></script>
</head>
</html>