<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.wayplus.travel.mapper.user.UserMapper">

    <select id="selectUserByUserid" parameterType="String" resultType="LoginUser">
        SELECT user_email, user_password,
               user_name, user_nationality,
               user_birthday, user_gender,
               user_mobile, user_tel, user_role,
               user_addr_zipcode, user_addr_extra,
               user_addr_jibun, user_addr_road, user_addr_detail,
               user_class_code, user_class_name,
               user_group_code, user_token_id,
               user_grade_id, user_grade,
               user_grade_start, user_grade_end,
               user_membership_id, user_membership_grade,
               user_membership_start, user_membership_end,
               user_verified_email, user_verified_mobile,
               user_ci, user_di, user_di_corp,
               user_join_type,
               user_join_date, user_modify_date,
               last_login_date, last_password_date,
               last_login_fail_count, account_status,
               naver_token, kakao_token, google_token, facebook_token,
               secondary_email, mailing_yn
          FROM user
         WHERE user_email = #{value} AND user_role != 'MASTER'
               AND account_status IN ('active', 'inactive')
    </select>

    <insert id="insertUserLoginLog" parameterType="HashMap">
        INSERT INTO user_login_session
           SET user_email = #{userEmail},
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(loginType)">
               login_type = #{loginType},
               </if>
               login_session = #{sessionId},
               login_ip = #{loginIp},
               login_agent = #{userAgent},
               login_referer = #{referer},
               login_time = now()
    </insert>

    <update id="updateUserLastLoginDate" parameterType="LoginUser">
        UPDATE user SET last_login_date = now(), last_login_fail_count = 0
         WHERE user_email = #{userEmail} AND user_name = #{userName}
    </update>


    <update id="updateUserSessionLogout" parameterType="LoginUserSession">
        UPDATE user_login_session
        SET logout_time = now(), logout_type = #{logoutType}
        WHERE user_email = #{userEmail} AND login_session = #{loginSession}
    </update>

    <insert id="insertUserLoginAttemptLog" parameterType="LoginAttemptLog">
        INSERT INTO user_login_attempt_log
        (user_email, attempt_ip,
         attempt_agent, attempt_referer, attempt_time,
         error_code, error_message)
        VALUES (#{userEmail}, #{attemptIp},
                #{attemptAgent}, #{attemptReferer}, now(),
                #{errorCode}, #{errorMessage})
    </insert>

    <select id="selectUserCountById" parameterType="String" resultType="Integer">
        SELECT COUNT(*) FROM user WHERE user_email = #{value} AND user_role = 'USER' AND account_status IN ('active', 'inactive')
    </select>

    <insert id="insertNewUser" parameterType="LoginUser">
        INSERT INTO user
           SET user_email = #{userEmail}
               , user_password = #{userPassword}
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(userJoinType)">, user_join_type = #{userJoinType}</if>
               , user_name = #{userName}
               , user_mobile = #{userMobile}
               , user_tel = #{userTel}
               , user_addr_zipcode = #{userAddrZipcode}
               , user_addr_extra = #{userAddrExtra}
               , user_addr_jibun = #{userAddrJibun}
               , user_addr_road = #{userAddrRoad}
               , user_addr_detail = #{userAddrDetail}
               , user_nationality = #{userNationality}
               , user_birthday = #{userBirthday}
               , user_gender = #{userGender}
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(userRole)">, user_role = #{userRole}</if>
               , user_class_name = #{userClassName}
               , user_class_code = #{userClassCode}
               , user_group_code = #{userGroupCode}
               , user_token_id = #{userTokenId}
               , user_grade = #{userGrade}
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(userVerifiedEmail)">, user_verified_email = #{userVerifiedEmail}</if>
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(userVerifiedMobile)">, user_verified_mobile = #{userVerifiedMobile}</if>
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(userCi)">, user_ci = #{userCi}</if>
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(userDi)">, user_di = #{userDi}</if>
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(userDiCorp)">, user_di_corp = #{userDiCorp}</if>
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(naverToken)">, naver_token = #{naverToken}</if>
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(naverEmail)">, naver_email = #{naverEmail}</if>
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(naverToken)">, naver_join_date = now()</if>
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(kakaoToken)">, kakao_token = #{kakaoToken}</if>
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(kakaoEmail)">, kakao_email = #{kakaoEmail}</if>
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(kakaoToken)">, kakao_join_date = now()</if>
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(googleToken)">, google_token = #{googleToken}</if>
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(googleEmail)">, google_email = #{googleEmail}</if>
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(googleToken)">, google_join_date = now()</if>
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(facebookToken)">, facebook_token = #{facebookToken}</if>
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(facebookEmail)">, facebook_email = #{facebookEmail}</if>
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(facebookToken)">, facebook_join_date = now()</if>
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(secondaryEmail)">, secondary_email = #{secondaryEmail}</if>
               <if test="privacyRetentionDays > 0">, privacy_retention_days = #{privacyRetentionDays}</if>
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(mailingYn)">, mailing_yn = #{mailingYn}</if>
    </insert>

    <insert id="insertWithdrawalUser" parameterType="LoginUser">
        INSERT INTO user_stored_withdrawal
               (
                    user_email, user_password, user_join_type,
                    user_name, user_nationality, user_birthday, user_gender,
                    user_mobile, user_tel,
                    user_addr_zipcode, user_addr_extra,
                    user_addr_jibun, user_addr_road, user_addr_detail,
                    user_role, user_class_name, user_class_code,
                    user_group_code, user_token_id,
                    user_grade_id, user_grade, user_grade_start, user_grade_end,
                    user_membership_id, user_membership_grade, user_membership_start, user_membership_end,
                    user_verified_email, user_verified_mobile,
                    user_ci, user_di, user_di_corp,
                    user_join_date, user_modify_date, last_login_date,
                    last_password_date, last_login_fail_count, account_status,
                    naver_token, naver_email, naver_join_date,
                    kakao_token, kakao_email, kakao_join_date,
                    google_token, google_email, google_join_date,
                    facebook_token, facebook_email, facebook_join_date,
                    secondary_email, privacy_retention_days, mailing_yn,
                    delete_date, delete_id
               )

        SELECT user_email, user_password, user_join_type,
               user_name, user_nationality, user_birthday, user_gender,
               user_mobile, user_tel,
               user_addr_zipcode, user_addr_extra,
               user_addr_jibun, user_addr_road, user_addr_detail,
               user_role, user_class_name, user_class_code,
               user_group_code, user_token_id,
               user_grade_id, user_grade, user_grade_start, user_grade_end,
               user_membership_id, user_membership_grade, user_membership_start, user_membership_end,
               user_verified_email, user_verified_mobile,
               user_ci, user_di, user_di_corp,
               user_join_date, user_modify_date, last_login_date,
               last_password_date, last_login_fail_count, account_status,
               naver_token, naver_email, naver_join_date,
               kakao_token, kakao_email, kakao_join_date,
               google_token, google_email, google_join_date,
               facebook_token, facebook_email, facebook_join_date,
               secondary_email, privacy_retention_days, mailing_yn,
               now(), #{userEmail}
          FROM user
         WHERE user_email = #{userEmail} AND user_token_id = #{userTokenId}
           AND user_role = 'USER'
    </insert>

    <delete id="deleteUserByUserid" parameterType="LoginUser">
        DELETE FROM user
         WHERE user_email = #{userEmail} AND user_token_id = #{userTokenId}
           AND user_role = 'USER'
    </delete>

    <select id="selectUserListByUserName" parameterType="HashMap" resultType="LoginUser">
        SELECT user_email, user_name, user_mobile
          FROM user
         WHERE user_name =  #{userName}
           AND REPLACE(user_mobile, '-', '') = REPLACE(#{userMobile}, '-', '')
           AND account_status IN ('active', 'inactive')
    </select>

    <select id="selectRePasswordUserByUserInfo" parameterType="HashMap" resultType="LoginUser">
        SELECT user_email, user_token_id, user_name, user_mobile
          FROM user
         WHERE user_email = #{userEmail} AND user_name =  #{userName} AND REPLACE(user_mobile, '-', '') = REPLACE(#{userMobile}, '-', '')
           AND account_status IN ('active', 'inactive')
    </select>

    <update id="updateUserPassword" parameterType="LoginUser">
        UPDATE user SET user_password = #{userPassword}
         WHERE user_email = #{userEmail} AND user_token_id = #{userTokenId}
           AND account_status IN ('active', 'inactive')
    </update>

















    <select id="selectUserListByRole" parameterType="String" resultType="LoginUser">
        SELECT user_email, user_name, user_mobile, user_role,
               user_join_date, last_login_date, naver_token, kakao_token
        FROM user
        WHERE user_role = #{value}
        ORDER BY user_join_date
    </select>




    <update id="updateUserNewTokenId" parameterType="LoginUser">
        UPDATE user
           SET user_token_id = #{userTokenId}
         WHERE user_email = #{userEmail}
    </update>

    <update id="updateUserWebLog" parameterType="HashMap">
        UPDATE webservice_log
           SET user_token = #{after}, tracking = 'Y'
         WHERE user_token = #{before} AND tracking = 'N'
    </update>

    <insert id="insertUserWebLog" parameterType="WebServiceLog">
        INSERT INTO webservice_log
               (user_token, user_email,
                referer, request_uri, request_time,
                request_host, request_agent,
                session_id, response_status, tracking)
        VALUES (#{userToken}, #{userEmail},
                #{referer}, #{requestUri}, now(),
                #{requestHost}, #{requestAgent},
                #{sessionId}, #{responseStatus}, #{tracking})
    </insert>

    <update id="updateUserInfo" parameterType="LoginUser">
        UPDATE user
           SET user_name = #{userName},
               user_mobile = #{userMobile},
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(userPassword)">user_password = #{userPassword},</if>
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(userClassName)">user_class_name = #{userClassName},</if>
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(userClassCode)">user_class_code = #{userClassCode},</if>
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(secondaryEmail)">secondary_email = #{secondaryEmail},</if>
               user_addr_zipcode = #{userAddrZipcode},
               user_addr_extra = #{userAddrExtra},
               user_addr_jibun = #{userAddrJibun},
               user_addr_road = #{userAddrRoad},
               user_addr_detail = #{userAddrDetail},
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(mailingYn)">mailing_yn = #{mailingYn},</if>
               user_modify_date = now()
         WHERE user_email = #{userEmail} AND user_token_id = #{userTokenId}
    </update>


    <select id="selectOAuthUserCount" resultType="Integer">
        SELECT COUNT(*) FROM user
         WHERE user_role = 'USER'
            <choose>
                <when test="registrationId == 'kakao'">
                AND kakao_token = #{id}
                </when>
                <when test="registrationId == 'naver'">
                AND naver_token = #{id}
                </when>
                <when test="registrationId == 'google'">
                AND google_token = #{id}
                </when>
                <otherwise>
                AND user_token_id = #{id}
                </otherwise>
            </choose>
    </select>

    <select id="selectOAuthUser" resultType="OAuthUser">
        SELECT user_email, user_password,
               user_name, user_nationality,
               user_birthday, user_gender,
               user_mobile, user_tel, user_role,
               user_addr_zipcode, user_addr_extra,
               user_addr_jibun, user_addr_road, user_addr_detail,
               user_class_code, user_class_name,
               user_group_code, user_token_id,
               user_grade_id, user_grade,
               user_grade_start, user_grade_end,
               user_membership_id, user_membership_grade,
               user_membership_start, user_membership_end,
               user_verified_email, user_verified_mobile,
               user_ci, user_di, user_di_corp,
               user_join_type, user_join_date, user_modify_date,
               last_login_date, last_password_date,
               last_login_fail_count, account_status,
               naver_token, kakao_token, google_token, facebook_token,
               secondary_email, mailing_yn
          FROM user
         WHERE user_role != 'MASTER' AND account_status IN ('active', 'inactive')
            <choose>
                <when test="registrationId == 'kakao'">
                AND kakao_token = #{id}
                </when>
                <when test="registrationId == 'naver'">
                AND naver_token = #{id}
                </when>
                <when test="registrationId == 'google'">
                AND google_token = #{id}
                </when>
                <otherwise>
                AND user_token_id = #{id}
                </otherwise>
            </choose>
    </select>

    <insert id="insertOAuthUser" parameterType="OAuthUser">
        INSERT INTO user
           SET user_email = #{userEmail}
               , user_password = #{userPassword}
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(userJoinType)">, user_join_type = #{userJoinType}</if>
               , user_name = #{userName}
               , user_mobile = #{userMobile}
               , user_tel = #{userTel}
               , user_addr_zipcode = #{userAddrZipcode}
               , user_addr_extra = #{userAddrExtra}
               , user_addr_jibun = #{userAddrJibun}
               , user_addr_road = #{userAddrRoad}
               , user_addr_detail = #{userAddrDetail}
               , user_nationality = #{userNationality}
               , user_birthday = #{userBirthday}
               , user_gender = #{userGender}
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(userRole)">, user_role = #{userRole}</if>
               , user_class_name = #{userClassName}
               , user_class_code = #{userClassCode}
               , user_group_code = #{userGroupCode}
               , user_token_id = #{userTokenId}
               , user_grade = #{userGrade}
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(userVerifiedEmail)">, user_verified_email = #{userVerifiedEmail}</if>
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(userVerifiedMobile)">, user_verified_mobile = #{userVerifiedMobile}</if>
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(userCi)">, user_ci = #{userCi}</if>
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(userDi)">, user_di = #{userDi}</if>
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(userDiCorp)">, user_di_corp = #{userDiCorp}</if>
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(naverToken)">, naver_token = #{naverToken}</if>
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(naverEmail)">, naver_email = #{naverEmail}</if>
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(naverToken)">, naver_join_date = now()</if>
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(kakaoToken)">, kakao_token = #{kakaoToken}</if>
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(kakaoEmail)">, kakao_email = #{kakaoEmail}</if>
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(kakaoToken)">, kakao_join_date = now()</if>
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(googleToken)">, google_token = #{googleToken}</if>
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(googleEmail)">, google_email = #{googleEmail}</if>
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(googleToken)">, google_join_date = now()</if>
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(facebookToken)">, facebook_token = #{facebookToken}</if>
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(facebookEmail)">, facebook_email = #{facebookEmail}</if>
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(facebookToken)">, facebook_join_date = now()</if>
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(secondaryEmail)">, secondary_email = #{secondary_email}</if>
               <if test="privacyRetentionDays > 0">, privacy_retention_days = #{privacyRetentionDays}</if>
               <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(mailingYn)">, mailing_yn = #{mailingYn}</if>
        ON DUPLICATE KEY UPDATE
            account_status = 'active'
            <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(naverToken)">, naver_token = #{naverToken}</if>
            <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(naverEmail)">, naver_email = #{naverEmail}</if>
            <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(naverToken)">, naver_join_date = now()</if>
            <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(kakaoToken)">, kakao_token = #{kakaoToken}</if>
            <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(kakaoEmail)">, kakao_email = #{kakaoEmail}</if>
            <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(kakaoToken)">, kakao_join_date = now()</if>
            <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(googleToken)">, google_token = #{googleToken}</if>
            <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(googleEmail)">, google_email = #{googleEmail}</if>
            <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(googleToken)">, google_join_date = now()</if>
            <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(facebookToken)">, facebook_token = #{facebookToken}</if>
            <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(facebookEmail)">, facebook_email = #{facebookEmail}</if>
            <if test="@kr.co.wayplus.travel.util.MybatisUtil@isNotEmpty(facebookToken)">, facebook_join_date = now()</if>
    </insert>

    <update id="updateOAuthUserLastLoginDate" parameterType="OAuthUser">
        UPDATE user SET last_login_date = now(), last_login_fail_count = 0
        WHERE user_email = #{userEmail} AND user_name = #{userName}
    </update>

    <select id="selectUserByIdToken" parameterType="HashMap" resultType="LoginUser">
        SELECT user_email, user_name, user_token_id FROM user
         WHERE user_email = #{userEmail} AND user_token_id = #{userToken}
    </select>
</mapper>