<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{여행사}</title>
    <head th:replace="~{inc/common-header :: include}" />
    <link rel="stylesheet" type="text/css" href="/css/user/user.css" th:href="@{/css/user/user.css}" />
    <script type="text/javascript" th:inline="javascript">
        fnFindPassword = function(){
            let form = $('#user-form');
            formValidCheck($('#user-email'), 'input', 'is-invalid', 'email');
            formValidCheck($('#user-name'), 'input', 'is-invalid', null);
            formValidCheck($('#user-mobile'), 'input', 'is-invalid', 'mobile');

            if($(form).find('.is-invalid').length > 0){
                alert('사용자정보를 정확히 입력해주세요.');
                return;
            }

            $.ajax({
                url: '/user/find-password',
                type : "POST",
                data : $(form).serialize(),
                success : function(data) {
                    if (typeof data.result != "undefined" && data.result == "error") {
                        alert(data.error);
                        return;
                    } else {
                        if( data.result === "success" ){
                            $('.find-input').hide();
                            if(data.user === null){
                                $('.find-result.no-user').show();
                            }else{
                                $('#re-password-id').val(data.user.userEmail);
                                $('#re-password-token').val(data.user.userTokenId);
                                $('.find-result.re-password').show();
                            }
                        }else{
                            alert(data.message);
                        }
                    }
                },
                error : function(xhr, code, errorMsg) { },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(
                        [[${_csrf.headerName}]], [[${_csrf.token}]]
                    );
                },
                complete : function() { }
            });
        }

        fnCheckPassword = function(){
            if($('#user-password').val().trim() !== ''
                && $('#user-password-check').val().trim() !== ''){
                if($('#user-password').val() === $('#user-password-check').val()){
                    if(formValidCheck($('#user-password'), 'input', 'is-invalid', 'strong-pass')){
                        $('#validate-user-password').text('비밀번호가 일치합니다.').addClass('is-valid').removeClass('is-invalid');
                    }else{
                        $('#validate-user-password').text('영문,숫자,특수문자를 사용하여 8~16자로 작성해주세요.').addClass('is-invalid').removeClass('is-valid');
                    }
                } else{
                    $('#validate-user-password').text('비밀번호가 일치하지 않습니다.').addClass('is-invalid').removeClass('is-valid');
                }
            }
        }

        fnPasswordChange = function(){
            let form = $('#re-password-form');

            var password = $('#user-password').val()
            const cipher = CryptoJS.AES.encrypt(password, CryptoJS.enc.Utf8.parse([[${session.encrypt}]]), {
                iv: CryptoJS.enc.Utf8.parse([[${session.iv}]]),
                padding: CryptoJS.pad.Pkcs7,
                mode: CryptoJS.mode.CBC
            });
            $('input[name=userPassword]').val(cipher.toString());

            $.ajax({
                url: '/user/find-password-change',
                type : "PUT",
                data : $(form).serialize(),
                success : function(data) {
                    if (typeof data.result != "undefined" && data.result == "error") {
                        alert(data.error);
                        return;
                    } else {
                        if(data.result == "success"){
                            alert('변경됐습니다.');
                            location.replace('/user/login');
                        }else{
                            alert(data.message);
                            return;
                        }
                    }
                },
                error : function(xhr, code, errorMsg) { },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(
                        [[${_csrf.headerName}]], [[${_csrf.token}]]
                    );
                },
                complete : function() { }
            });
        }
    </script>
</head>
<body>
<header th:replace="~{inc/header :: header-nav}" />
<section class="wrap">
    <div class="contents">
        <div class="login-title">
            <span class="title-text">비밀번호 찾기</span>
        </div>
        <div class="join-data">
            <form id="user-form" method="post">
                <div class="find-input">
                    <p class="plaintext">
                        회원가입시 등록했던 정보를 입력해주세요.
                    </p>
                    <div class="input-item">
                        <input type="text" class="join-input" name="user_email" id="user-email" placeholder="아이디(E-mail)" />
                    </div>
                    <div class="input-item">
                        <input type="text" class="join-input" name="user_name" id="user-name" placeholder="이름" />
                    </div>
                    <div class="input-item">
                        <input type="text" class="join-input" name="user_mobile" id="user-mobile" placeholder="연락처" />
                    </div>
                    <div class="join-submit">
                        <button class="join-button find-id" type="button" onclick="fnFindPassword()">비밀번호 찾기</button>
                    </div>
                </div>
            </form>
            <div class="find-result no-user">
                <p class="result-text">
                    사용자 정보를 찾을 수 없습니다.
                </p>
                <div class="join-inline-link">
                    <a class="join-link" href="/user/join">회원가입</a>
                    <a class="join-link" href="/">메인으로</a>
                    <a class="join-link" href="/user/find-id">아이디찾기</a>
                </div>
            </div>
            <div class="find-result re-password">
                <form id="re-password-form" method="post">
                    <input type="hidden" id="re-password-token" name="userTokenId"  />
                    <input type="hidden" name="userPassword" />
                    <p class="plaintext">
                        비밀번호를 재설정 해주세요.
                    </p>
                    <div class="input-item">
                        <input class="join-input" type="text" name="userEmail" id="re-password-id" readonly="readonly" />
                    </div>
                    <div class="input-item">
                        <input type="password" class="join-input" id="user-password" placeholder="비밀번호" onkeyup="fnCheckPassword()" />
                        <span class="info-text">8~16자 영문, 숫자, 특수문자 혼합 사용</span>
                    </div>
                    <div class="input-item">
                        <input type="password" class="join-input" id="user-password-check" placeholder="비밀번호 확인" onkeyup="fnCheckPassword()" />
                        <span id="validate-user-password" class="validate-text"></span>
                    </div>
                    <div class="join-submit">
                        <button type="button" class="join-button find-id" onclick="fnPasswordChange()">비밀번호 변경</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<footer th:replace="~{inc/footer :: footer}" />
</body>
</html>