<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{여행사}</title>
    <head th:replace="~{inc/common-header :: include}" />
    <link rel="stylesheet" type="text/css" href="/css/user/user.css" th:href="@{/css/user/user.css}" />
    <script type="text/javascript" th:inline="javascript">
        login = function(){
            var password = $('input[name=user-pass]');
            const cipher = CryptoJS.AES.encrypt(password.val(), CryptoJS.enc.Utf8.parse([[${session.encrypt}]]), {
                iv: CryptoJS.enc.Utf8.parse([[${session.iv}]]),
                padding: CryptoJS.pad.Pkcs7,
                mode: CryptoJS.mode.CBC
            });
            $('input[name=password]').val(cipher.toString());
            password.val('');
            $('#login-form').submit();
        }

        let message = [[${message}]];
        if(message !== null){
            alert(message);
        }
    </script>
</head>
<body>
<header th:replace="~{inc/header :: header-nav}" />
<section class="wrap">
    <div class="contents">
        <div class="login-title">
            <span class="title-text">로그인</span>
        </div>
        <form id="login-form" method="post" th:action="@{/user/authorize}">
        <div class="login-data">
            <div class="login-data-input">
                <div class="login-input">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <input type="hidden" name="password" />
                    <input type="text" class="login-input" name="userEmail" placeholder="ID" th:value="${loginId}" />
                    <input type="password" class="login-input" name="userPassword" placeholder="Password" />
                </div>
                <div class="login-button">
                    <button type="submit" onclick="login()">로그인</button>
                </div>
            </div>
            <input type="checkbox" id="check-remember-id" name="remember" value="Y" th:checked="${loginId}" />
            <label for="check-remember-id">ID 저장</label>
        </div>
        <div class="login-sign">
            <ul class="login-register-option">
                <li class="strong link"><a href="/user/join" th:href="@{/user/join}">회원가입</a></li>
                <li><a href="/user/find-id" th:href="@{/user/find-id}">아이디찾기</a></li>
                <li><a href="/user/find-password" th:href="@{/user/find-password}">비밀번호찾기</a></li>
            </ul>
            <ul class="login-register-option">
                <li><a href="/oauth2/authorize/kakao">카카오로그인</a></li>
                <li><a href="/oauth2/authorize/naver">네이버로그인</a></li>
                <li><a href="/oauth2/authorize/google">구글로그인</a></li>
            </ul>
        </div>
        </form>
    </div>
</section>
<footer th:replace="~{inc/footer :: footer}" />
</body>
</html>