<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Error Page</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="/css/inc/common.css">
	<link rel="stylesheet" href="/css/inc/error.css">
</head>
<body onload="setTimeout(function (){
	location.replace('/');
}, 3000)">
<div class="wrap">
	<div class="error-code" th:text="${httpStatus.value}">
		ERROR STATUS CODE
	</div>
	<div class="error-message">
		<h1 th:text="${httpStatus.reasonPhrase}">Error Occurred</h1>
		<p th:utext="${errorMessage}">Sorry. An error has occurred.</p>
		<p>해당 콘텐츠를 접근 할 수 없습니다.</p>
		<p>잠시 후 메인페이지로 이동합니다.</p>
	</div>
</div>
</body>
</html>