<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/manage/inc/manage-common-include :: main-include}" />

<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">
	  <div th:replace="~{/manage/inc/manage-common-include :: common-preloader-include}"></div>
	  <nav th:replace="~{/manage/inc/manage-header-include :: header}" />
	  <aside th:replace="~{/manage/inc/manage-sidebar-include :: sidebar-menu-v1}"></aside>
	  <div class="content-wrapper">
	    <div class="content-header">
			<h1 class="m-0">게시글 <th:block th:text="${mode eq 'I' ? '등록' : '상세'}"></th:block></h1>
	    </div>
		<div class="manage-content no-pd mt-4">
		  <div class="input-box">
			  <div class="content-header mb-3">
				  <label class="alt-input-title">문의내용</label>
			  </div>
			  <div class="row mb-3 form-inline">
				  <div class="input-area-quad">
					  <label class="input-label">작성자</label>
					  <input class="form-control inline-one" name="guestName" th:value="${board != null} ? ${board.guestName}" th:readonly="${board != null} ? 'readonly'"></input>
				  </div>
				  <div class="input-area-quad">
					  <label class="input-label">비밀글 여부</label>
					  <select class="form-control inline-one" name="secretYn" th:disabled="${board != null} ? 'disabled'">
						  <option value="Y" th:selected="${board != null and board.secretYn == 'Y'} ? 'selected'">비밀글</option>
						  <option value="N" th:selected="${board != null and board.secretYn == 'N'} ? 'selected'">공개글</option>
					  </select>
				  </div>
				  <div class="input-area-quad">
					  <label class="input-label">작성일시</label>
					  <input class="form-control inline-one" name="createDate" th:value="${board != null} ? ${board.createDate}" th:readonly="${board != null} ? 'readonly'"></input>
				  </div>
			  </div>
			  <div class="row mb-3 form-inline">
				  <div class="input-area-full">
					  <label class="input-label">문의제목</label>
					  <input class="form-control inline-one" name="title" th:value="${board != null} ? ${board.title}" th:readonly="${board != null} ? 'readonly'"></input>
				  </div>
			  </div>
			  <div class="row mb-3 form-inline">
				  <div class="input-area-full">
					  <label class="input-label">문의내용</label>
					  <textarea class="form-control inline-one-div" rows="6" name="content" th:text="${board != null} ? ${board.content}" th:readonly="${board != null} ? 'readonly'"></textarea>
				  </div>
			  </div>
			  <div class="row mb-3 form-inline">
				  <label class="input-label">첨부파일</label>
				  <ul id="attach-file-list"></ul>
				  <div id="attach-hidden-files"></div>
			  </div>
			  <form id="download-form" method="POST">
				  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				  <input type="hidden" name="id" />
				  <input type="hidden" name="filename" />
			  </form>
		  </div>
		</div>
		<div class="manage-content no-pd mt-4">
		  <div class="input-box">
			  <div class="content-header mb-3">
				  <label class="alt-input-title">답변내용</label>
			  </div>
			  <form id="saveForm" name="saveForm" enctype="multipart/form-data">
			  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			  <input type="hidden" name="params" id="params" />
			  <input type="hidden" name="mode" id="mode" th:value="${comment != null} ? 'U':'I'" />
			  <input type="hidden" name="id" th:value="${comment != null} ? ${comment.id}" th:if="${comment != null}" />
			  <input type="hidden" name="boardId" id="boardID" th:value="${setting.id}" />
			  <input type="hidden" name="contentId" id="contentId" th:value="${board.id}" />
			  <div class="row mb-3 form-inline">
				  <div class="input-area-half">
					  <label class="input-label">처리상태</label>
					  <select class="form-control inline-one" name="applyCode">
						  <option value="접수" th:selected="${board.applyCode != null and board.applyCode == '접수'}">접수</option>
						  <option value="처리중" th:selected="${board.applyCode != null and board.applyCode == '처리중'}">처리중</option>
						  <option value="답변완료" th:selected="${board.applyCode != null and board.applyCode == '답변완료'}">답변완료</option>
					  </select>
				  </div>
				  <div class="input-area-half">
					  <label class="input-label">비밀글 처리</label>
					  <select class="form-control inline-one" name="secretYn">
						  <option value="A">그대로</option>
						  <option value="N">공개처리</option>
						  <option value="Y">숨김처리</option>
					  </select>
				  </div>
			  </div>
			  <div class="row mb-3 form-inline">
				  <div class="input-area-full">
					  <label class="input-label">답변내용</label>
					  <div class="inline-one-div">
						<textarea id="note" name="note" placeholder="답변 내용을 입력해주세요." th:text="${comment != null} ? ${comment.note}"></textarea>
					  </div>
				  </div>
			  </div>

			  </form>
			  <div class="manage-control">
				<button type="button" class="btn btn-black"   onclick="preList()">취소하기</button>
				<button type="button" class="btn btn-primary" onclick="saveComment()">저장하기</button>
				<button type="button" class="btn btn-danger"  onclick="goDelete()" th:if="${mode eq 'U'}">삭제하기</button>
			  </div>
		  </div>
		</div>
	  </div>
	  <footer th:replace="~{/manage/inc/manage-footer-include :: footer}"/>
	  <aside class="control-sidebar control-sidebar-dark"></aside>
	</div>
	<script src="/js/manage/adminlte.js"></script>
	<script type="text/javascript" th:inline="javascript">
	var attchFileSize;
	let editor;
	$(document).ready(function() {
		initUploadFile('file');
		initAttachFileSize();
		if($("#mode").val() !== 'I') initAttachFileList();
		fnMakeCkeditor($('#note')[0],  false).then(
			makedEditor => {
				editor = makedEditor;
			});
	});

	fnSetNullDatetime = function(target){
		$('#'+target).val('');
	}

	function initAttachFileSize(){
		var data = [[${listBoard}]];
		var boardId = [[${board.boardId}]];
		if(data != null){
			for(var idx in data){
				if( data[idx].id == boardId ){
					attchFileSize = data[idx].attachFileSize;
					break;
				}
			}
		}
	}

	function saveComment() {
		var form = document.saveForm;
		editor.updateSourceElement();
		var nowac = "";
		if($.trim(form.note.value) == "") {
			alert("내용을 입력해 주세요.");
			form.note.focus();
		}else {
			var url = "/manage/board/comment";

			if($("#mode").val() == 'U'){
				nowac = "저장";
			}else if($("#mode").val() == 'I'){
				nowac = "등록";
			}
			if(confirm(nowac+"하시겠습니까?")) {
				$("#note").text(editor.getData());
				var formData = new FormData($('#saveForm')[0]);
				$.ajax({
		            url: url,
		            type : 'POST',
		            enctype: 'multipart/form-data',
					contentType : false,
					processData : false,
		            data : formData,
		            dataType: 'JSON',
		            success : function(data) {
		                if (typeof data.result != "undefined" && data.result == "error") {
		                    alert(data.message);
		                    return;
		                } else {
		                    alert(data.message);
		                    preList();
		                }
		            },
		            error : function(xhr, code, errorMsg) { },
		            beforeSend : function() { },
		            complete : function() { }
		        });
			}
		}
	}

	goDelete = function(){
		if(confirm("삭제하시겠습니까?")){
			$.ajax({
				url : '/manage/board/contents-delete',
				type : "POST",
				data : {"id" : $('#id').val()},
				dataType : "json",
				beforeSend: function (xhr) {
					xhr.setRequestHeader([[${_csrf.headerName}]], [[${_csrf.token}]]);
				},
				success : function(res){
					if("success" == res.result){
						alert("삭제되었습니다.");
						preList();
					}else{
						alert(res.message)
					}
				}
			})
		}
	}

	function preList(){
		location.href = "/manage/board/contents/list?params="+parmas;
	}

	function initAttachFileList(){
		$.ajax({
			url : '/manage/board/contents-attchlist',
			type : "GET",
			data : {"id" : [[${board.id}]]},
			dataType : "json",
			success : function(res) {
				if ("success" == res.result) {
					let files = res.listAttach;
					if(files !== null){
						for(let i=0; i<files.length; i++){
							let file = files[i];
							console.log(file);
							filesArr.push(file);
							filesArr[i].isDelete = false;
							filesArr[i].isThumnail = false;
							let htmlData = '';
							htmlData += `<div id="file${i}" class="filebox mt-10">`;
							htmlData += `   <span class="no">${i+1}.</span>`;
							htmlData += `   <span class="name">`+file.originFilename+`</span>`;
							htmlData += `   <span class="size"> (` + formatFileSize(file.fileSize) + `)</span>`;
							htmlData += `   <a class="download" style="cursor:pointer;" onclick="fnDownloadBoardAttachFile('${file.fileId}', '${file.originFilename}');"><i class="fas fa-download"></i></a>`;
							htmlData += `</div>`;
							$('#attach-file-list').append(htmlData);
						}
						fileNo = files.length;
					}
				}else {
					alert(res.message);
				}
			}
		});
	}

	fnDownloadBoardAttachFile = function(id, filename){
		$('#download-form').find('input[name=id]').val(id);
		$('#download-form').find('input[name=filename]').val(filename);
		$('#download-form').attr('action', '/board/download');
		$('#download-form').submit();
	}

	</script>
	<style>
		.ck-editor__editable { height: 400px; }
	</style>
	</body>
</html>
